*.iml
/.idea
/android-refimpl-app/.gradle
/android-refimpl-app/.idea
/android-refimpl-app/local.properties
/android-refimpl-app/.idea/workspace.xml
/android-refimpl-app/.idea/libraries
/android-refimpl-app.DS_Store
/android-refimpl-app/build
/android-refimpl-app/captures
/android-refimpl-app.externalNativeBuild
android-refimpl-app/app/nativelibs/armeabi/libjni-c-toxcore.so
android-refimpl-app/app/nativelibs/armeabi-v7a/libjni-c-toxcore.so
android-refimpl-app/app/nativelibs/arm64-v8a/libjni-c-toxcore.so
android-refimpl-app/app/nativelibs/x86/libjni-c-toxcore.so
android-refimpl-app/app/nativelibs/x86_64/libjni-c-toxcore.so
android-refimpl-app/app/lint-report.html
android-refimpl-app/app/lint-report.txt
android-refimpl-app/app/lint-report.xml
convert_nodes_file/nodes.c
convert_nodes_file/nodes.json
android-refimpl-app/app/.idea/
android-refimpl-app/app/local.properties
android-refimpl-app/gwitness/gwit/reports/
android-refimpl-app/gwitness/gwit/pluginUnderTestMetadata/
tools/script
tools/workspace
tools/artefacts
android-refimpl-app/native-audio-jni/.cxx/
.gradle/
android-refimpl-app/.kotlin/
