*.iml
/android-refimpl-app/.gradle
/android-refimpl-app/.idea
/android-refimpl-app/local.properties
/android-refimpl-app/.idea/workspace.xml
/android-refimpl-app/.idea/libraries
/android-refimpl-app.DS_Store
/android-refimpl-app/build
/android-refimpl-app/captures
/android-refimpl-app.externalNativeBuild
android-refimpl-app/app/nativelibs/armeabi/libjni-c-toxcore.so
android-refimpl-app/app/nativelibs/armeabi-v7a/libjni-c-toxcore.so
