<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zoffcc.applications.trifa"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.screen.portrait"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-sdk tools:overrideLibrary="src.java.org.tensorflow.lite.task.vision"/>

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <!--<uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>-->
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher4"
        android:roundIcon="@mipmap/ic_launcher4_round"
        android:label="TRIfA"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="false"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label">

        <activity
            android:name=".StartMainActivityWrapper"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".AddFriendActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/add_friend_activity_name">
        </activity>
        <activity
            android:name=".MessageListActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/message_list_activity_name">
        </activity>
        <activity
            android:name=".ConferenceMessageListActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/conference_message_list_activity_name">
        </activity>
        <activity
            android:name=".ConferenceAudioActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/conference_audio_activity_name">
        </activity>
        <activity
            android:name=".GroupAudioPlayer"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/conference_audio_activity_player_name">
        </activity>
        <activity
            android:name=".CallingActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_calling"
            android:showWhenLocked="true"
            android:showOnLockScreen="true"
            android:showForAllUsers="true"
            android:turnScreenOn="true"
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
            android:theme="@style/FullscreenTheme"
            tools:ignore="LockedOrientationActivity,UnusedAttribute">
        </activity>
        <activity
            android:name=".CallingWaitingActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:screenOrientation="portrait"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_profile">
        </activity>
        <activity
            android:name=".CrashActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_crash">
        </activity>
        <activity
            android:name=".FriendInfoActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_friendinfo">
        </activity>
        <activity
            android:name=".ConferenceInfoActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_conferenceinfo">
        </activity>
        <activity
            android:name=".ConferencePeerInfoActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_conferencepeerinfo">
        </activity>
        <activity
            android:name=".ImageviewerActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden">
        </activity>
        <activity
            android:name=".ImageviewerActivity_SD"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden">
        </activity>
        <activity
            android:name=".TrifaSetPatternActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden">
        </activity>
        <activity
            android:name=".TrifaCheckPatternActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden">
        </activity>
        <activity
            android:name=".SetPasswordActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_set_password"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".CheckPasswordActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_check_password"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".FriendSelectSingleActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden">
        </activity>
        <activity
            android:name=".SelectLanguageActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".Aboutpage"
            android:label="@string/title_activity_aboutpage">
        </activity>
        <activity
            android:name=".MaintenanceActivity"
            android:label="@string/title_activity_maintenance">
        </activity>
        <activity
            android:name=".ShareActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_share"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="video/*"/>
                <data android:mimeType="audio/*"/>
                <data android:mimeType="application/*"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <!-- Intent filter for handling tox: links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tox"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".WrongCredentials"
            android:label="@string/title_activity_wrong_credentials">
        </activity>

        <activity
            android:name=".IOBrowser" >
        </activity>

        <receiver
            android:name=".ConnectionManager"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".BootReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".PowerReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED"/>
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".TrifaToxService"
            android:enabled="true"
            android:exported="false">
        </service>

        <service
            android:name=".GroupAudioService"
            android:enabled="true"
            android:exported="false">
        </service>

        <service
            android:name=".CallAudioService"
            android:enabled="true"
            android:exported="false">
        </service>

        <receiver android:name=".GroupAudioService$ButtonReceiver" android:enabled="true">
        </receiver>

        <receiver android:name=".CallAudioService$ButtonReceiver" android:enabled="true">
        </receiver>

        <receiver android:name=".WakeupAlarmReceiver" android:enabled="true">

            <intent-filter>
                <action android:name="com.zoffcc.applications.trifa.TOXSERVICE_ALARM">
                </action>
            </intent-filter>

        </receiver>

        <receiver android:name=".MyExternReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.zoffcc.applications.trifa.EXTERN_RECV" />
            </intent-filter>
        </receiver>

        <receiver android:name=".MyTokenReceiver" android:enabled="true" android:exported="true">
            <intent-filter>
                <action android:name="com.zoffcc.applications.trifa.TOKEN_CHANGED" />
            </intent-filter>
        </receiver>

        <provider
            android:name=".IOCipherContentProvider"
            android:authorities="com.zoffcc.applications.trifa"
            android:grantUriPermissions="true"
            android:exported="false">
        </provider>

    </application>

</manifest>