<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zoffcc.applications.trifa"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.location"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true"/>

    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <!--<uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS"/>-->
    <!--<uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY"/>-->

    <application
        android:name=".MainApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup,android:label,android:icon">

        <activity
            android:name=".StartMainActivityWrapper"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".AddFriendActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/add_friend_activity_name">
        </activity>
        <activity
            android:name=".MessageListActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/message_list_activity_name">
        </activity>
        <activity
            android:name=".ConferenceMessageListActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/conference_message_list_activity_name">
        </activity>
        <activity
            android:name=".CallingActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_calling"
            android:launchMode="singleTask"
            android:theme="@style/FullscreenTheme">
        </activity>
        <activity
            android:name=".ProfileActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_profile">
        </activity>
        <activity
            android:name=".CrashActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_crash">
        </activity>
        <activity
            android:name=".FriendInfoActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_friendinfo">
        </activity>
        <activity
            android:name=".ImageviewerActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden">
        </activity>
        <activity
            android:name=".ImageviewerActivity_SD"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden">
        </activity>
        <activity
            android:name=".TrifaSetPatternActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden">
        </activity>
        <activity
            android:name=".TrifaCheckPatternActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden">
        </activity>
        <activity
            android:name=".SetPasswordActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_set_password"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".CheckPasswordActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:label="@string/title_activity_check_password"
            android:launchMode="singleTask">
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings">
        </activity>
        <activity
            android:name=".Aboutpage"
            android:label="@string/title_activity_aboutpage">
        </activity>
        <activity
            android:name=".MaintenanceActivity"
            android:label="@string/title_activity_maintenance">
        </activity>
        <activity
            android:name=".ShareActivity"
            android:configChanges="screenSize|locale|touchscreen|navigation|orientation|fontScale|keyboard|keyboardHidden"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:label="@string/title_activity_share"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>

                <data android:mimeType="audio/*"/>
                <data android:mimeType="image/*"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <!-- Intent filter for handling tox: links -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tox"/>
            </intent-filter>
        </activity>

        <receiver
            android:name=".ConnectionManager"
            android:label="NetworkConnection">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <!--<receiver android:name=".BootReceiver">-->
        <!--<intent-filter>-->
        <!--<action android:name="android.intent.action.BOOT_COMPLETED"/>-->
        <!--</intent-filter>-->
        <!--</receiver>-->

        <service
            android:name=".TrifaToxService"
            android:enabled="true"
            android:exported="false">
        </service>

        <provider
            android:name=".GenericFileProvider"
            android:authorities="com.zoffcc.applications.trifa.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>